
<!DOCTYPE html>
<html>
<head>
    <title>Anubis | Sistema de Monitoreo</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/Images/browserconfig.xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/Content/Css/Print.css" media="Print" />
    @Styles.Render("~/bundles/CssLibraries")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>


<body class="">
    @if (User.Identity.IsAuthenticated)
    {
         
            <nav class="ui top attached raised inverted  stackable menu bg-gqm-regular" id="main-menu">
                @Html.ActionLink("AnubisDBMS", "Index", "Home", new { area = "" }, new { @class = "header item" })
                  
               
                    <div class="menu">
                        @Html.ActionLink("Monitoreo", "MonitoreoEquipos", "GestionEquipos", new { area = "" }, new { @class = "item" })
                    </div>
                    <div class="ui dropdown item">
                        Catálogos
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            @Html.ActionLink("Equipos", "Index", "Cat_Equipos", new { area = "" }, new { @class = "item" })
                            @Html.ActionLink("Técnicos", "Index", "Cat_Tecnicos", new { area = "" }, new { @class = "item" })
                            @Html.ActionLink("Sensores", "Index", "Cat_Sensores", new { area = "" }, new { @class = "item" })
                            @Html.ActionLink("Tipo de Sensor", "Index", "Cat_TipoSensor", new { area = "" }, new { @class = "item" })
                        </div>

                    </div>

                    <a class="item" id="main-sidebar-trigger" style="visibility:hidden;">
                        <i class="sidebar icon"></i>
                        Menú
                    </a>
                
                @Html.Partial("_LoginPartial")
            </nav>
        
            <aside id="main-sidebar" class="ui vertical sidebar menu">
                <div class="item">
                    <img class="ui fluid image" src="~/Content/Images/AnubisLogo.jpeg" alt="Logo" />
                    <h2>Menú Principal</h2>
                </div>
                <div class="item">
                    <div class="header">
                        Gestion Equipos
                    </div>
                    <div class="menu">
                        @Html.ActionLink("Monitoreo", "MonitoreoEquipos", "GestionEquipos", new { area = "" }, new { @class = "item" })
                    </div>
                </div>
                @if (User.IsInRole("Administrador") || User.IsInRole("Administrador Sistema") || User.IsInRole("Developers"))
                {

                    
                }
            </aside>
        }

        <main class="ui attached pusher">

            <div id="main-content">
                <div class="ui stackable grid">
                    @Html.Action("Mensaje", "Home", new { area = "" })
                    @RenderBody()
                </div>
            </div>

        </main>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/Js")
        @Scripts.Render("~/bundles/JsLibraries")

        <script>
            $(document).ready(function () {
                $('#main-sidebar').sidebar('attach events', '#main-sidebar-trigger');

                var defaultDropdownOptions = {
                    message: {
                        noResults: 'No se encuentran coincidencias.'
                    }
                };

                $('.ui.dropdown').dropdown(defaultDropdownOptions);
            });
        </script>
        @RenderSection("scripts", false)

    </body>
 
</html>
