@using AnubisDBMS.Views.Helpers

@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.ListaPerfilesEmpresas


<div class="row">
    <div class="sixteen wide column">
        <div class="ui raised segments">
            <div class="ui top attached menu">
                <div class="header item">
                    <h4>Administración de Perfiles</h4>
                </div>
                <div class="item">
                    <a href="@Url.Action("Create","Cat_Empresas")" class="ui green compact button"><i class="plus icon"></i>Nueva Empresa</a>

                </div>
            </div>
                <div class="ui raised segment">
                    <div class="ui grid">
                        @foreach (var emp in Model.ListaPerfiles)
                        {
                            <div class="four wide column">
                                <div class="ui centered card" style="display: inline-block; overflow-x: scroll;">
                                    <div class="image">
                                        <img src="~/Content/Images/perfil.png">
                                    </div>
                                    <div class="content">
                                        <div class="center aligned">
                                            <a href="@Url.Action("FiltrarInformacionPorEmpresa", "Profile", new { Id = emp.IdEmpresa })" class=" ui center blue button centered" style="text-align:center;"><i class="filter icon"></i>@emp.NombreEmpresa</a>

                                        </div>
                                        <div class="ui sub dividing header"></div>
                                        <div class="ui form">


                                            <div class="field">


                                                <label class="ui gray left icon label"><i class="mail icon"></i>Correo: @emp.correo</label>


                                            </div>

                                            <div class="field">
                                                <label class="ui gray left icon label"><i class="user icon"></i>Razón Social: @emp.RazonSocial</label>


                                            </div>

                                            <div class="field">
                                                <label class="ui gray left icon label"><i class="id card icon"></i>RUC: @emp.RazonSocial</label>

                                            </div>
                                            <h4 class="header center" style="text-align:center;">Notificación de Alertas</h4>
                                            <div class="ui sub dividing header"></div>
                                            <div class="three fields">
                                                <div class="field">
                                                    <label class="ui yellow left icon label"><i class="warning icon"></i>1er Alerta: @emp.PrimeraNotificacion</label>

                                                </div>



                                                <div class="field">
                                                    <label class="ui yellow left icon label"><i class="warning icon"></i>2da Alerta: @emp.SegundaNotificacion</label>

                                                </div>

                                                <div class="field">
                                                    <label class="ui yellow left icon label"><i class="warning icon"></i>3ra Alerta: @emp.TerceraNotificacion</label>

                                                </div>
                                            </div>



                                        </div>

                                        <br />

                                        <br />
                                        <br />
                                        @Html.ActionLink("Edit", "EditarPerfilUsuario", new { IdEmpresa = emp.IdEmpresa }, new { @class = "ui green centered button" })
                                        @if (emp.IsServicioActivo)
                                        {
                                            <i class="lock icon"></i>
                                            @Html.ActionLink("Bloquear", "DesactServEmpresa", "Main", new { Id = emp.IdEmpresa }, new { @class = "ui red button" })
                                        }
                                        else
                                        {
                                            <i class="unlock icon"></i>
                                            @Html.ActionLink("Activar", "ActivarServEmpresa", "Main", new { Id = emp.IdEmpresa }, new { @class = "ui green button" })
                                        }
                                        Alertas <a href="@Url.Action("ListaErrosDataSensores", "Mantenimiento" ,new { Id = emp.IdEmpresa , area= ""})" class="item"><div class="ui red left pointing label">@User.Identity.ObtenerNumeroAlertasSensoresPerfiles(emp.IdEmpresa)</div></a>






                                        @*<div class="extra content">
            <a>
                <i class="tablet icon"></i>
                22 Equipos
            </a>

        </div>*@
                                    </div>



                                </div>
                            </div>

                        }

                    </div>
                </div>
            
        </div>
    </div>
    
 

</div>