@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.EquipoVM
@{
    ViewBag.Title = "Editar Equipo";
}
<div class="sixteen wide column">
    <h1 class="ui header">@ViewBag.Title</h1>
</div>
@using (Html.BeginForm("Edit", "Cat_Equipos", FormMethod.Post, new { @class = "ui row" }))
{
    @Html.AntiForgeryToken()
    <div class="sixteen wide column">
        <h2 class="ui top attached sub header">Datos</h2>
        <div class="ui attached form segment">
            @Html.HiddenFor(x => x.IdEquipo)
            <div class="field">
                @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
            </div>

            <div class="field">
                @Html.LabelFor(model => model.SerieEquipo, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.SerieEquipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SerieEquipo, "", new { @class = "text-danger" })
            </div>
 
             

            @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "ui secondary button" })
            <input type="submit" value="Guardar" class="ui primary button" />
        </div>
    </div>
} 
