@model AnubisDBMS.Infraestructure.Data.Security.ViewModels.RegisterNewUserViewModel
@{
    ViewBag.Title = "Registrar Nuevo " + Model.Rol;
}
<div class="ten wide column">
    <div class="ui raised segment">
        <h1 class="ui header">@ViewBag.Title</h1>
        @using (Html.BeginForm("RegistrarUsuario", "Administracion", FormMethod.Post, new { @class = "ui form" }))
        {
            @Html.AntiForgeryToken() 
            @Html.HiddenFor(x => x.IdRol) 
            <div class="four fields">
                <div class="field">
                    @Html.LabelFor(model => model.Usuario)
                    @Html.EditorFor(model => model.Usuario)
                    @Html.ValidationMessageFor(model => model.Usuario)
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.Contrasena)
                    @Html.PasswordFor(model => model.Contrasena)
                    @Html.ValidationMessageFor(model => model.Contrasena)
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.IdRol)
                    @Html.DropDownList("IdRol", null, new { @class = "ui dropdown", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.IdRol)
                </div>
                @if (User.IsInRole("Developers"))
                {
                    <div class="field">
                        @Html.LabelFor(model => model.IdEmpresa)
                        @Html.DropDownList("IdEmpresa", null, new { @class = "ui search dropdown" })
                        @Html.ValidationMessageFor(model => model.IdEmpresa)
                    </div>
                }
            </div>
            <h2 class="ui dividing sub header">Datos Adicionales</h2>
            <div class="ui small message">

            </div>
            <div class="four fields">
                <div class="field">
                    @Html.LabelFor(model => model.Celular)
                    @Html.EditorFor(model => model.Celular)
                    @Html.ValidationMessageFor(model => model.Celular)
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.Nombres)
                    @Html.EditorFor(model => model.Nombres)
                    @Html.ValidationMessageFor(model => model.Nombres)
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.Apellidos)
                    @Html.EditorFor(model => model.Apellidos)
                    @Html.ValidationMessageFor(model => model.Apellidos)
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
            <input type="submit" class="ui primary button" value="Registrar" />
        }
    </div>
</div>
