@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.SensorVM
 @{ 
     ViewBag.Title = "Catálogo de Sensores";
 }
 
    <div class="sixteen wide column">

    <h2>@ViewBag.Title</h2>


   @Html.ActionLink("Crear", "Create", null, new { @class = "ui primary   button" })
    <table class="ui striped celled   table">
        <thead>
            <tr>
       
                <th>Alias</th>
                <th>Tipo</th>
                <th>Unidad</th>
                <th>Lectura Mínima</th>
                <th>Lectura Máxima</th>

                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Lista)
        {

            <tr>


                <td>@item.SerieSensor</td>
                <td>@item.NombreTipoSensor</td>
                <td>@item.UnidadSensor</td>
                <td>@(item.Min == null ? "-" : item.Min.ToString())</td>
                <td>@(item.Max == null ? "-" : item.Max.ToString())</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdSensor }, new { @class = "ui orange   button" })
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdSensor }, new { @class = "ui red   button" })
                </td>
                @*<td>
                    @Html.ActionLink("ProbarRangos", "ProbarRangos", new { id = item.IdSensor }, new { @class = "ui inverted orange   button" })
                </td>*@
            </tr>
        }

        </tbody>
        </table>

</div>