@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.TipoSensorVM
 @{ 
     ViewBag.Title = "Catálogo de Tipo de Sensores";
 }
 
    <div class="sixteen wide column">

    <h2>@ViewBag.Title</h2>


   @Html.ActionLink("Crear", "Create", null, new { @class = "ui primary button" })
    <table class="ui striped celled   table">
        <thead>
            <tr>
              
                <th>Nombre Tipo</th>
                <th>Escala Mínima  (gráficos)</th>
                <th>Escala Máxima  (gráficos)</th>
                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Lista)
        {

            <tr>

                
                <td>@item.NombreTipoSensor</td>
                <td>@item.Min_TipoSensor</td>
                <td>@item.Max_TipoSensor</td>
                
               
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdTipoSensor }, new { @class = "ui orange   button" })
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdTipoSensor }, new { @class = "ui red   button" })
                </td>
            </tr>
        }

        </tbody>
        </table>

</div>