
@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.PerfilVM

<div class="row">

    <div class="ui centered card" style="display: inline-block; overflow-x: scroll;">
        <div class="image">
            <img src="~/Content/Images/perfil.png">
        </div>
        <div class="content">
            @using (Html.BeginForm("GuardarPerfilUsuario", "Profile", FormMethod.Post, new { @class = "ui form" }))
            {
                <h4 class="header center" style="text-align:center;">@Model.RazonSocial</h4>
                <div class="ui sub dividing header"></div>
                <div class="field">
                    Correo

                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>

                <div class="field">
                    Razón Social

                    @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                </div>

                <div class="field">
                    RUC

                    @Html.EditorFor(model => model.Ruc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ruc, "", new { @class = "text-danger" })
                </div>
                <h4 class="header center" style="text-align:center;">Notificación de Alertas</h4>
                <div class="ui sub dividing header"></div>
                <div class="three fields">
                    <div class="field">
                        Alerta 1

                        @Html.EditorFor(model => model.PrimeraNotificacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrimeraNotificacion, "", new { @class = "text-danger" })
                    </div>



                    <div class="field">
                        Alerta 2

                        @Html.EditorFor(model => model.SegundaNotificacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SegundaNotificacion, "", new { @class = "text-danger" })
                    </div>

                    <div class="field">
                        Alerta 3

                        @Html.EditorFor(model => model.TerceraNotificacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TerceraNotificacion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" class="ui  green centered aligned floated button" />


            }

        </div>
        <br />
    
        <br />




        <div class="ui sub dividing header"></div>

        
    </div>



</div>


@section Scripts{
    <script type="text/javascript">
        function Editar() {
            $('#lbltelefono').css("visibility", "hidden");
            $('#lblcorreo').css("visibility", "hidden");
            $('#editar_correo').css("visibility", "visible");
            $('#editar_telefono').css("visibility", "visible");

            var tel = $('#editar_telefono').val();
            var cor = $('#editar_correo').val();
            console.log(tel, cor)
        }

        function Guardar() {
            $('#lbltelefono').css("visibility", "visible");
            $('#lblcorreo').css("visibility", "visible");
            $('#editar_correo').css("visibility", "hidden");
            $('#editar_telefono').css("visibility", "hidden");
        }
    </script>
}