@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.TecnicoVM
 @{ 
     ViewBag.Title = "Catálogo de Tecnicos";
 }
 
    <div class="sixteen wide column">

    <h2>@ViewBag.Title</h2>


   @Html.ActionLink("Crear", "Create", null, new { @class = "ui primary   button" })
    <table class="ui striped celled   table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Celular</th>
                  
                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Lista)
        {

            <tr>

                <td>@item.NombreTecnico</td>
                <td>@item.Cedula</td>
                <td>@item.CorreoTecnico</td>
                <td>@item.CelularTecnico</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdTecnico }, new { @class = "ui orange   button" })
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdTecnico }, new { @class = "ui red   button" })
                </td>
            </tr>
        }

        </tbody>
        </table>

</div>