@model AnubisDBMS.Data.ViewModels.MonitoreoSensoresVM
    <div class="sixteen wide column">
    @*<div class="ui top attached tabular menu">
        <div class="active item" data-tab="tab-sensores"><i class="chart bar icon"></i>Sensores</div>
        <div class="item" data-tab="tab-graficos"><i class="chart bar icon"></i>Graficos y Exportacion de datos</div>


    </div>*@

        <div class="ui grid">
            <div class="four wide column">
                <div class="ui raised segments">
                    <div class="ui bottom attached raised menu">
                        <div class="header item">
                           <i class="qrcode icon"></i> Codigo QR
                        </div>
                    </div>
                    <div class="ui raised segment">
                        <div class="ui link cards">
                            <div class="card">
                                <div class="small image">
                                    <img src="data:image/gif;base64,@Model.QR" width="500" height="500" />
                                </div>
                                <div class="content">
                                    <div class="header">@Model.AliasEquipo</div>


                                </div>
                                <div class="extra content">
                            
                                    <span>
                                        <i class="thermometer icon"></i>
                                       @Model.DatosSensores.Count Sensores
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui raised segments">
                    <div class="ui bottom attached raised menu">
                        <div class="header item">
                            <i class="list icon"></i> Lectura de Sensores
                        </div>
                    </div>
                    <div class="ui raised segment">
                        <table class="ui  compact celled selectable table">
                            <thead>
                                <tr class="centered">

                                    <th>
                                        Serie Sensor
                                    </th>
                                    <th>
                                        Tipo Sensor
                                    </th>
                                    <th>
                                        Unidad Medida
                                    </th>
                                    <th>
                                       Lectura
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.DatosSensores)
                                {
                                <tr class="center">
                                    <td>
                                        @x.SerieSensor
                                    </td>
                                    <td>
                                        @x.TipoSensor
                                    </td>
                                    <td>
                                        @x.UnidadMedida
                                    </td>
                                    <td>
                                        @(x.Lectura == "0" ? "Revisar Sensor":x.Lectura)
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui raised segments">
                    <div class="ui bottom attached raised menu">
                        <div class="header item">
                            <i class="graph line icon"></i> Graficos
                        </div>
                    </div>
                    <div class="ui raised segment">
                        
                    </div>
                </div>
            </div>
        </div>


</div>
