@model AnubisDBMS.Data.ViewModels.GestionEquiposViewModels
@{
    ViewBag.Title = "Registro Relación Equipo Sensores";
}
 
    @Html.HiddenFor(m => m.IdEquipoSensor)
    <div class="eight wide column">
        <div class="ui raised segments">
            <div class="ui top attached menu bg-labcontrol-main">

                <h5 class="header item bg-labcontrol-main">
                    <i class="tablet icon"></i> Asociacion Equipo-Sensor

                </h5>
            </div>

            <div class="ui bottom attached segment">
                @using (Html.BeginForm("RegistrarEquipoSensor", "GestionEquipos", FormMethod.Post, new { @class = "ui form", @id="myform" }))
                {

                    <div class="four wide field">
                        <label>Equipos</label>
                        @Html.DropDownList("IdEquipo", null, new { @class = "ui disabled dropdown " })

                    </div>

                    <div class="two fields">
                        <div class="four wide field">
                            <label>Sensores</label>
                            @Html.DropDownList("IdSensor", null, new { @class = "ui search dropdown " })

                        </div>

                        <div class="four wide field">
                            <label>Puertos Disponibles</label>
                            @Html.DropDownList("NumPuerto", null, new { @class = "ui search dropdown " })

                        </div>
                        <div class="two wide field">
                            <label>&nbsp;</label>
                            <button class="ui compact green button" id="sumitear" href="@Url.Action("RegistrarEquipoSensor" , new { model = Model})" onclick="submit()"><i class="plus icon"></i></button>
                        </div>
                    </div>
                    }

                </div>


            </div>
        </div> 
    <div class="eight wide column">
        <div class="ui raised segments">

            <div class="ui top attached menu bg-labcontrol-main">

                <h5 class="header item bg-labcontrol-main">
                    <i class="user icon"></i> SENSORES 
                </h5>

            </div>

            <div class="ui bottom attached segment">

                <table class="ui compact selectable celled table">

                    <thead>
                        <tr>
                            <th>Alias Equipo </th>
                            <th>Serie Sensor</th>
                            <th>Puerto Sensor</th>
                            <th>Tipo Sensor</th>
                            <th>Eliminar Relación</th>
                        </tr>
                    </thead>
                    <tbody>
                         
                                
                            
                        @foreach (var es in Model.EquiposSensores)
                            {
                        <tr>
                        
                        <td>
                            @es.Equipos.Alias
                        </td>
                        <td>
                            @es.Sensores.SerieSensor
                        </td>
                        <td>
                            @es.NumeroPuerto
                        </td>

                        <td>
                            @es.Sensores.TipoSensor.NombreTipoSensor
                        </td>

                        <td><a href="@Url.Action("EliminarRelacionEquipoSensor", new {IdEquipoSensor=es.IdEquipoSensor })" class="ui compact red button"><i class="delete icon"></i></a></td>
                    </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
 


@section Scripts
{
<script type="text/javascript">
    $('#myform').submit(function() {
    $(this).find(':submit').attr('disabled', 'disabled');
    $('#sumitear').attr('disabled', 'disabled');
});

    </script>    
}
